{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Purchasing System</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Users</h2>
        <p>
            e0001 - employee
        </p>
        <p>
            m0001 - manager
        </p>
        <p>
            f0001 - finance
        </p>
    </div>
    <div class="col-md-4">
        <h2>Modules</h2>
        <p>
            Purchase Requisition
        </p>
        <p>
            Request for Quotations
        </p>
        <p>
            Quotations
        </p>
        <p>
            Purchase Order
        </p>
        <p>
            Delivery Order
        </p>
        <p>
            Invoice
        </p>
    </div>
</div>

{% endblock %}
