{% extends "app/layout.html" %}
<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
{% block content %}
<div class="purchaseorderhistory margintop">
    
    <form action="requestofquotationhistorydetails" method="GET">
          <input type="text" placeholder="Search..">
        <table class="table table-striped margintop">
          
          <thead>
            <tr>
              <th scope="col">Request For Quotation ID</th>
              <th scope="col">Staff ID</th>
              <th scope="col">Vendor ID</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
          <tbody>
              {% for r in rows %}
            <tr>
                 <td><button type="submit" name="roq_id" value="{{r.request_for_quotation_id}}" class="btn btn-info" >{{r.request_for_quotation_id}}</button></td>
                 <td>{{r.person_id.person_id}}</td>
                 <td>{{r.vendor_id}}</td>
                 <td>{{r.time_created}}</td>

            </tr>
              {% endfor %}
          </tbody>
        </table>
    </form>
       <form action="menu">
        <div class="margintop">
            <button type="submit" class="btn btn-info" >Back</button>
        </div>
    </form>
</div>


{% endblock %}
